/*--------------------------------------------------------------
  Left admin menu
--------------------------------------------------------------*/

#adminmenuback {
  border-right: $default-border;
}

// add space to menu name
div.wp-menu-image:before,
#adminmenu div.wp-menu-name {
  padding: 10px 0;
}

/*--------------------------------------------------------------
  Top admin bar
--------------------------------------------------------------*/

// Variables
$admin-bar-height: 50px; // height of admin bar

// push content down
html.wp-toolbar {
  padding-top: $admin-bar-height;
}

#wpadminbar {

  height: $admin-bar-height;
  border-bottom: $default-border;
  
  // hide wordpress logo
  li#wp-admin-bar-wp-logo {
    display: none; 
  }

  // center icons
  .ab-icon,
  .ab-item:before,
  > #wp-toolbar > #wp-admin-bar-root-default .ab-icon {
    padding: $admin-bar-height/4 0;
    font-size: 20px;
  }


  // font adjustments 
  .ab-item, 
  a.ab-item,
  > #wp-toolbar span.ab-label,
  > #wp-toolbar span.noticon {
    height: $admin-bar-height;
  }

  li a {
    line-height: $admin-bar-height;
  }

}