/* all types
input[type="text"],
input[type="password"],
input[type="checkbox"],
input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
*/

input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="url"],
select,
textarea {
  border-top-left-radius: $default-border-radius;
  border-top-right-radius: $default-border-radius;
  border-top: transparent;
  border-right: transparent;
  border-left: transparent;
  border-bottom: 2px solid $default-border-color;
	box-shadow: none;
	background-color: transparentize($base-color, 0.5);
	color: #32373c;
  outline: none; 
  padding: 13px; 

  &:hover {
    background-color: $base-color;
  }

  &:focus {
    border-top: transparent;
    border-right: transparent;
    border-left: transparent;
    border-bottom: 2px solid $link-focus;
    box-shadow: none;
  }
}


.form-field label {
  transform: translateY(35px);
  padding-left: 13px;
  font-size: 1.1em;
}
