/*--------------------------------------------------------------
  Variables
--------------------------------------------------------------*/

// Border
$default-border: 1px solid rgb(226, 228, 231);

// Shadows
$standard-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
$standard-shadow-hover: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);