/* ============================================================
  Admin menu and top bar
============================================================ */

/* ============================================================
  Table of Contents:
  1.0 - Admin menu (left)
  2.0 - Admin bar (top)
============================================================ */


/* ------------------------------------------------------------
  1.0 - Admin menu (left)
------------------------------------------------------------ */

// Variables
$admin-menu-width: 240px;
$content-margin: 50px; 
$admin-bar-height: 48px;

// place main content 
#wpcontent, #wpfooter {
  margin-left: $admin-menu-width;
  padding-left: 50px;
}

.wrap {
margin: 55px 20px 0 2px;
}


// hide submenu popup
#adminmenu li.wp-not-current-submenu a.menu-top:focus + .wp-submenu,
.js #adminmenu li.wp-not-current-submenu.opensub .wp-submenu,
.js #adminmenu .sub-open,
.no-js li.wp-has-submenu:hover .wp-submenu {
  top: -1000em; 
}

#adminmenuback {
  box-shadow: 0px 0px 22px -5px rgba(0,0,0,0.33);
}


// admin menu width an color
#adminmenuback,
#adminmenuwrap,
#adminmenu {
  width: $admin-menu-width;
  background: $base-color;
  z-index: 9999;
}

#adminmenuwrap {
  
  #adminmenu {
    margin: 0;

    // adjust submenu styles
    li.opensub > a.menu-top,
    li > a.menu-top:focus {
      background-color: transparent;
    }

    li.wp-has-submenu.wp-not-current-submenu.opensub:hover:after {
      display: none;
    }

    #adminmenu li.current a.menu-top,
    #adminmenu li.wp-has-current-submenu a.wp-has-current-submenu,
    #adminmenu li.wp-has-current-submenu .wp-submenu .wp-submenu-head,
    .folded #adminmenu li.current.menu-top {
      background: transparent;
    }
  }

  // add left spacing to menu points
  ul#adminmenu {
    padding: 0 30px;
    box-sizing: border-box; 

    // remove padding on auto collaps
    @media only screen and (max-width: 960px) {
      padding: 0;  
    }

    a.wp-has-current-submenu:after,
    > li.current > a.current:after {
      display: none;
    }

    // push menu points down
    li:first-child > a {
      margin-top: 0px; 
    }

    // not selectet menu points
    > li {
      opacity: 0.5; 

      // menu point font styling
      > a {
        font-weight: bold;
        font-size: 0.95em;
        text-transform: uppercase;
        letter-spacing: 1px; 
      }

      // opacity hover and select menu point
      &.current, 
      &.wp-has-current-submenu, 
      &:hover, 
      &:focus {
        opacity: 1; 
        background: transparent;
      }

    }
  
    // icon color on hover and select
    > li.current .wp-menu-image:before, 
    > li.wp-has-current-submenu .wp-menu-image:before, 
    > li:hover .wp-menu-image:before, 
    > li:focus .wp-menu-image:before 
    {
      transition: all 0s;
      color: $link-focus; 
    }

    // submenu position (padding)
    li.wp-has-submenu ul.wp-submenu {
      width: auto ;
      padding: 5px 0px 19px 25px;
      background: transparent; 
    }

    // submenu transparent background
    li.menu-top:hover,
    li.opensub > a.menu-top,
    > a.menu-top:focus {
      background-color: transparent; 
    }

    // menu separator
    li.wp-menu-separator {
      height: 15px; 
    }

  } // ul#adminmenu

} // #adminmenuwrap


// collapse menu button
#collapse-menu span,
#collapse-menu #collapse-button div:after {
  opacity: 0.4;
}

// collapse menu button hover
#collapse-menu:hover span,
#collapse-menu:hover #collapse-button div:after {
  opacity: 1;
  color: $link-focus; 
}

// collapsed menu
body.folded #adminmenuwrap #adminmenu {
  padding: 0; 

  // collapsed menu icon color
  li.current a .wp-menu-image:before, 
  li.wp-has-current-submenu a .wp-menu-image:before {
    color: $link-focus; 
  }

  // collapsed menu submenu
  li.wp-has-submenu ul.wp-submenu {
    padding-left: 0;
    box-shadow: none;
    background: $base-color; 
  }

  .opensub .wp-submenu,
  .wp-has-current-submenu .wp-submenu.sub-open,
  .wp-has-current-submenu a.menu-top:focus + .wp-submenu,
  .wp-has-current-submenu.opensub .wp-submenu,
  .wp-submenu.sub-open,
  a.menu-top:focus + .wp-submenu,
  .wp-has-submenu:hover .wp-submenu {
    top: 0px;
    left: 36px; // collapsed menu width 
  }

  // collapsed menu submenu head
  li.wp-has-submenu ul.wp-submenu .wp-submenu-head {
    margin: 0;
    font-weight: bold;
    background-color: transparent; 
  }

}

/* ------------------------------------------------------------
  2.0 - Admin bar (top)
------------------------------------------------------------ */

// Variables
$admin-bar-height: 50px; // height of admin bar

// push content down
html.wp-toolbar {
  padding-top: $admin-bar-height;
}

// change position of top right options
#screen-meta-links {
  margin:0 50px 0 0;
}

#wpadminbar {

  height: $admin-bar-height;
  border-bottom: $default-border;
  left: $admin-menu-width;
  z-index: 9995;
  width: calc(100% - #{$admin-menu-width});
  padding-left: 50px;
  padding-right: 50px;
  box-sizing: border-box;
  border-bottom: $default-border; 

  @media only screen and (max-width: 960px) {
    // collapsed menu width + content margin
    padding-left: 36px + $content-margin; 
    left: 0;
    width: 100%;
  } 
  
  @media only screen and (max-width: 782px) {
  padding-right: 0; 
  }
  
  
  // hide wordpress logo
  li#wp-admin-bar-wp-logo {
    display: none; 
  }

  // center icons
  .ab-icon,
  .ab-item:before,
  > #wp-toolbar > #wp-admin-bar-root-default .ab-icon {
    padding: $admin-bar-height/4 0;
    font-size: 20px;
  }


  // font adjustments 
  .ab-item, 
  a.ab-item,
  > #wp-toolbar span.ab-label,
  > #wp-toolbar span.noticon {
    height: $admin-bar-height;
  }

  li a {
    line-height: $admin-bar-height;
  }

}

#adminmenu>li.current>a.current:after {
  border: none;
}

// adjust adminbar to collapsed admin menu
body.folded #wpcontent #wpadminbar {
  left: 36px;
  width: calc(100% - 36px); 
}

.ab-item > img.avatar {
  display: none;
}
  




/*
 * Responsiveness
 */

