.wp-admin {

  input[type="text"],
  input[type="password"],
  input[type="color"],
  input[type="date"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="email"],
  input[type="month"],
  input[type="number"],
  input[type="search"],
  input[type="tel"],
  input[type="text"],
  input[type="time"],
  input[type="url"],
  input[type="week"],
  select,
  textarea,
  #titlediv #title { 
    background-color: darken($base-color, 3%);
    border-top-left-radius: $default-border-radius;
    border-top-right-radius: $default-border-radius;
    border-top: transparent;
    border-right: transparent;
    border-left: transparent;
    border-bottom: 2px solid $default-border-color;
    box-shadow: none;
    color: #32373c;
    outline: none; 
    padding: 13px; 

    &:focus {
      outline: none;
      border-bottom: 2px solid $link-focus;
      border: transparent;
      border-bottom: 2px solid $link-focus;
      box-shadow: none;
    }

  }

  input[type="text"],
  input[type="password"],
  input[type="color"],
  input[type="date"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="email"],
  input[type="month"],
  input[type="number"],
  input[type="search"],
  input[type="tel"],
  input[type="text"],
  input[type="time"],
  input[type="url"],
  input[type="week"] {
    height: $default-button-height;
  }

}

// Radio an d Checkbox.
input[type=checkbox]:checked:before {
  color: $base-color;
  margin: -4px -6px;
}

// Disabled buttons.
.wp-core-ui .button-primary[disabled], 
.wp-core-ui .button-primary:disabled, 
.wp-core-ui .button-primary.button-primary-disabled, 
.wp-core-ui .button-primary.disabled {
  color: rgb(212, 212, 212) !important;
  background: rgb(255, 255, 255) !important;
}

// Select dropdown
.wp-admin select {
  margin-bottom: 10px;
	box-shadow: none;
  height: $default-button-height;
  appearance: none;
  padding: 0 39px 0 15px;

  // base64 svg (src: imag/albus-admin-arrow.svg) see https://stackoverflow.com/a/21626701
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPScyNCcgaGVpZ2h0PScyNCcgdmlld0JveD0nMCAwIDI0IDI0Jz48cGF0aCBkPSdNMTggOC4ybC02IDcgLTYtN0gxOHonIGZpbGw9JyNlMmU0ZTcnLz48L3N2Zz4="); // FF does not support inline svg :(
  background-position: 93% 59%;
  background-repeat: no-repeat;
  background-size: 22px;
}


input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="url"],
textarea {

  &:focus {
    border-top: transparent;
    border-right: transparent;
    border-left: transparent;
    border-bottom: 2px solid $link-focus;
    box-shadow: none;
    background-color: darken($base-color, 6%);
  }

  &:hover {
    background-color: darken($base-color, 5%);
  }

}




.form-field label {
  font-size: 1.1em;
}

// search field
.search-box input[type="search"] {
  height: $default-button-height;
}


input[type=checkbox] {
  border-radius: 2px;
  border: 2px solid #6c7781;
  margin-right: 12px;
  transition: none;
  &:checked {
    background: #11a0d2;
    border-color: #11a0d2;
    color: $base-color;

  }
}