// place gutenberg editor
.edit-post-layout > .edit-post-header {
  left: $admin-menu-width;
  top: $admin-bar-height;

  @media (min-width: 960px) {
    left: $admin-menu-width;
    top: $admin-bar-height;
  }

}

// warning message (i.e. different post backup version)
.components-notice-list {
  left: $admin-menu-width;
  margin-top: -2px; // not the best solution...
}

// place gutenberg editor sidebar
.edit-post-sidebar {
  // admin bar height + gutenber toolbar height
  top: $admin-bar-height + 56px;
}

// place gutenber editor toolbar
.edit-post-header-toolbar {
  padding-left: $content-margin - 9px;
}
