// filter toolbar
.wp-filter {
  border: none;
  background: none;
  box-shadow: none;
  padding-left: 0;

  select {
    margin-right: 6px;
    width: 172px;
  }
  // push 
  .filter-items, 
  .media-toolbar-secondary {
    display: flex;

  }

   .view-switch {
     vertical-align: top;
     order: 1;
   }
    
    .search-form input[type=search] {
    border-radius: 0;
    border: none;
    border-top-left-radius: $default-border-radius;
    border-top-right-radius: $default-border-radius;
    margin-bottom: 10px;
    border-bottom: 2px solid $default-border-color;
    box-shadow: none;
    background-color: transparentize($base-color, 0);
    height: $default-button-height;
    appearance: none;
    padding: 0 39px 0 15px;

  
    &:hover {
      background-color: $base-color;
    }
  
    &:focus {
      outline: none;
      border-bottom: 2px solid $link-focus;
    }

   }
}

.view-switch a:before {
  color: $button-color;
}

.view-switch a.current:before {
  color: $link-focus;
}