// core variables

$text-color: rgb(65, 65, 65);
$base-color: rgb(255, 255, 255);
$icon-color: darken( $base-color, 65% );
$highlight-color: rgb(238, 238, 238);
$notification-color: rgb(213, 78, 33);


// global

$body-background: rgb(245, 245, 245);

$link: darken( $base-color, 80% );
$link-focus: rgb(0, 137, 172);

$button-color: $link-focus;
$form-checked: $highlight-color;


// admin menu & admin-bar

$menu-text: $text-color;
$menu-icon: $icon-color;
$menu-background: $base-color;

$menu-highlight-text: $text-color;
$menu-highlight-icon: $text-color;
$menu-highlight-background: $highlight-color;

$menu-current-text: $menu-highlight-text;
$menu-current-icon: $menu-highlight-text;
$menu-current-background: $menu-highlight-background;

$menu-submenu-text: mix( $base-color, $text-color, 30% );
$menu-submenu-background: $highlight-color;
$menu-submenu-background-alt: $highlight-color;

$menu-submenu-focus-text: $link-focus;
$menu-submenu-current-text: $text-color;

$menu-bubble-text: $text-color;
$menu-bubble-background: $notification-color;
$menu-bubble-current-text: $text-color;
$menu-bubble-current-background: $menu-submenu-background;

$menu-collapse-text: $menu-icon;
$menu-collapse-icon: $menu-icon;
$menu-collapse-focus-text: $text-color;
$menu-collapse-focus-icon: $menu-highlight-icon;

$adminbar-avatar-frame: lighten( $menu-background, 7% );
$adminbar-input-background: lighten( $menu-background, 7% );

$menu-customizer-text: mix( $base-color, $text-color, 40% );
