// push content down
html.wp-toolbar {
  padding-top: $admin-bar-height;
}

#wpadminbar {

  height: $admin-bar-height;
  border-bottom: $standard-border;
  box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.05);
  

  // center icons
  .ab-icon,
  .ab-item:before,
  > #wp-toolbar > #wp-admin-bar-root-default .ab-icon {
    padding: $admin-bar-height/4 0;
    font-size: 20px;
  }


  // font adjustments 
  .ab-item, 
  a.ab-item,
  > #wp-toolbar span.ab-label,
  > #wp-toolbar span.noticon {
    height: $admin-bar-height;
  }

  li a {
    line-height: $admin-bar-height;
  }

}
